@import "tailwindcss";


.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100
    /* 100-1000 */
  ;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300
    /* 100-1000 */
  ;
  font-style: normal;
}

@keyframes pulseEmeraldGlow {

  0%,
  100% {
    background-color: #34D399;
    box-shadow: 0 0 10px #34D39980, 0 0 20px #34D39940;
  }

  50% {
    background-color: #047857;
    box-shadow: 0 0 20px #047857aa, 0 0 40px #04785755;
  }
}

.pulse-emerald-glow {
  animation: pulseEmeraldGlow 2s ease-in-out infinite;
}